{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
      <h3>Forgot password</h3>
      <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div id="div_id_username" class="form-group"> <label for="id_username" class="col-form-label  requiredField">
                {{ form|crispy }}
                  <input type="submit" value="Submit" class="btn btn-primary"><br><br>
                </label>
                </div>
  </form>
    </div>
</div>
{% endblock %}