{% extends "base.html" %}
{% load mytags %}
{% block body_block %}
<div class="jumbotron">
    {% if success %}
    <table class="table">
        <thead>
             <tr>
                <th>Image Name</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
     {% for val in value %}
            <tr>
                <td>{{ val|basename }}</td>
                <td><a href="/ocr/file/{{ val|basename }}/" target="_blank" class="btn btn-primary">Download</a></td>
            </tr>
     {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>Currently there is no file</h2>
    {% endif %}
</div>
{% endblock %}
